fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
python-jose
passlib[bcrypt]
python-dotenv
pydantic
pydantic-settings
sentence-transformers
groq
pgvector
alembic
pytest
httpx
email-validator
python-multipart
bcrypt
pypdf
python-docx
